body {
    background: rgb(230,230,230);
}
.landing {
    display: flex;
    flex-wrap: wrap;
}
.move-list-container {
    width: 1200px;
}
.header {
    display: grid;
    grid-template-columns: repeat(3, 430px);
    grid-template-rows: 80px;
    grid-gap: 20px;
    border-bottom: 2px solid gray;
    background: white;
}
.badge {
    display: flex;
    align-items: center;
}
.badge h1{
    font-family: Great Vibes;
    margin: 0;
}
.badge img {
    width:80px;
    height:80px;
}
.search {
    display: flex;
    align-items: center;
}
input {
    height: 27px;
    width:  100%;
    border-radius: 5px;
    margin: auto;
}
.user-settings{
    display: flex;
    align-items: center;
}
.user-settings h1 {
    font-family: Anton;
    margin: 0;
}
.user-settings img {
    border-radius: 40px;
    margin: 0;
    width:80px;
    height:80px;
}

.user-settings button {
    margin: 0;
    border: none;
    background: white;
    cursor: pointer;
}

.user-settings button:hover {
    background: gray;
    width: 
}
.barra-info {
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 100px 100px 100px 300px;
    width: 100px;
}
.barra-info h1,
.home,
.trending,
.likes,
.settings {
    font-size: 25px;
    display: flex;
    margin: 0;
    height: 30px;
    width: 100px;
    justify-content: space-around;
    font-family: PT Sans Narrow;
}
.homeIcon,
.trendingIcon,
.likesIcon,
.settingsIcon {
    background: orangered;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
}
/* .homeIcon span,
.trendingIcon span,
.likesIcon span,
.settingsIcon span,
.homeIcon h1,
.trendingIcon h1,
.likesIcon h1,
.settingsIcon h1 {
    margin: auto;
} */
.homeIcon {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.settingsIcon{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    
}
/* .settingsIcon {
    display: flex;
    align-items: flex-end;
    width: 100px;
} */
.home,
.trending,
.likes,
.settings {
    font-family: firstTime;
}
.moves-list {
    display: grid;
    grid-template-columns: repeat(3 , 350px);
    grid-template-rows: 350px;
    grid-gap: 15px;
    width: 1200px;
    justify-content: space-evenly;
}
.move {
    position: relative;
    border-radius: 10px;
}
.moveIcon {
    position: relative;
    margin: 0%;
}
.move img {
    border-radius: 10px;
    height: 350px;
    width: 350px;
}
.moveDescription {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(10,10,10,.8);
    color: white;
    height: 110px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.moveDescription h1 {
    margin-bottom: auto;
    margin-top: auto;
    font-family: PT Sans Narrow;
}

.moveDescription p {
    margin: 0%;
    text-align: center;
    font-family: PT Sans Narrow;
}